Source: ca-certificates-bulgaria
Section: metapackages
Priority: optional
Maintainer: Vladimir Vitkov <vvitkov@gmail.com>
Build-Depends: debhelper (>= 12.0.0)
Standards-Version: 4.5.0

Package: ca-certificates-bulgaria
Architecture: all
Depends: ca-certificates (>= 20210119),
	 ca-certificates-b-trust (>= 20210714),
	 ca-certificates-evrotrust (>= 20210714),
	 ca-certificates-infonotary (>= 20210714),
	 ca-certificates-sep (>= 20210714),
         ca-certificates-stampit (>= 20210714),
         ${misc:Depends}
Description: CA Certificates for Bulgarian trusted service providers
 This package depends on all of the packages providing (sub-)root CA
 certificates for Bulgarian trusted service providers.
 .
 More details at: https://crc.bg/en/rubrics/561/trust-services

